* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#blockColorblindContent {
  display: none;
}

button {
  cursor: pointer;
}

input,
button,
select,
textarea {
  outline: none;
  
  &:active {
    outline: none;
  }
}
