button {
  background-color: #83A1B0;
  border-radius: 5px;
  color: #302D50;
  font-size: 15px;
  padding: 0px 12px;
  transition: all 500ms ease;
}

button:hover {
  background-color: #302D50;
  color: #83A1B0;
}